ul {
	position: relative;
	list-style: none !important;
	margin-left: 0;
	padding-left: 0.8em;
}
ul li:before {
	content: "-";
	position: absolute;
	left: 0;
}
li, p {
    font-family: "Quicksand", sans-serif !important;
}

.nobullet ul li:before{
    content: "";
}

#title-slide .author {
    font-size: 65%;
}

#node > div.container > span.title {
    display: none;
}
.reveal .slides section .fragment.current-only {
    opacity: 1;
    visibility: visible;
    display: none;
}
.reveal .slides section .fragment.current-only.current-fragment {
    display: block;
}

/* Solarized Light theme */
code .line { display: block; }
.line.focus { background: #fdf6e3; color: #657b83; }
.hljs-comment, .line.focus .hljs-quote { color: #93a1a1; }
.hljs-keyword, .line.focus .hljs-selector-tag, .line.focus .hljs-addition { color: #859900; }
.hljs-number, .line.focus .hljs-string, .line.focus .hljs-meta .hljs-meta-string, .line.focus .hljs-literal, .line.focus .hljs-doctag, .line.focus .hljs-regexp { color: #2aa198; }
.hljs-title, .line.focus .hljs-section, .line.focus .hljs-name, .line.focus .hljs-selector-id, .line.focus .hljs-selector-class { color: #268bd2; }
.hljs-attribute, .line.focus .hljs-attr, .line.focus .hljs-variable, .line.focus .hljs-template-variable, .line.focus .hljs-class .hljs-title, .line.focus .hljs-type { color: #b58900; }
.hljs-symbol, .line.focus .hljs-bullet, .line.focus .hljs-subst, .line.focus .hljs-meta, .line.focus .hljs-meta .hljs-keyword, .line.focus .hljs-selector-attr, .line.focus .hljs-selector-pseudo, .line.focus .hljs-link { color: #cb4b16; }
.hljs-built_in, .line.focus .hljs-deletion { color: #dc322f; }
.hljs-formula { background: #eee8d5; }
.hljs-emphasis { font-style: italic; }
.hljs-strong { font-weight: bold; }

.hljs{display:block;overflow-x:auto;padding:.5em;color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-keyword,.hljs-formula{color:#c678dd}.hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string{color:#98c379}.hljs-built_in,.hljs-class .hljs-title{color:#e6c07b}.hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number{color:#d19a66}.hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title{color:#61aeee}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}.hljs-link{text-decoration:underline}

pre.hljs {background:#282c34DD!important;border-radius:8px;}

.reveal section img {
    background:none;
    border:none;
    box-shadow:none;
}

.reveal h1 {
    font-size: 2em;
}

.reveal h2 {
    font-size: 1.7em;
}

.reveal table {
    font-size: 0.8em;
}

.reveal pre {
    margin: 0;
    box-shadow: inherit;
    padding: 5px;
}

.reveal p code {
    background-color: transparent;
    border: none;
}

